body{
	margin-top:5px;
	background-color:#EEEEEE;
}	

.container{
	background-color:#FFF;
}

.barreNavigation{
	border-bottom :1px solid grey;
	display:flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom:5px;
}

.barreNavigation .ville{
	font-size: 1.5em;
}

.barreNavigation a:hover{
	text-decoration:none;
		
}

.barreNavigation li a:hover {
	background-color:transparent;
}

.barreNavigation .boutonConnexion:hover{
	background-color:#286090;
}

.icon-bar{
	 background-color:black;
}

#banniereImage{
	background: url('../jsp/assets/images/fondEcranBibliotheque1.jpg') no-repeat;
	border-radius :5px;
	height:500px;
	opacity:0.8;
	position: relative;
	box-shadow: 0px 4px 4px #1c1a19;
}

#zoneRecherche{
	position: absolute;
	bottom:42%;
	left : 37%;
	right: 37%;
}

#zoneRecherche #rechercheAvancee a{
	color:inherit;
}

section{
	border-bottom :1px solid grey;
	margin-bottom: 5px;
}


#sectionQsn{
	display:flex;
	justify-content: space-between;
	align-items: flex-end;
}

#sousSectionQsn{
	display:flex;
	align-items: flex-end;
}

#sousSectionQsn p{
	font-size: 1.5em;
}

.localHoraires{
	display:flex;
	margin-bottom :10px;
}

.localHoraires .imgBibliotheque{
	margin-right:15px;
}

.editionAccueil{
	padding-top:2px;
	padding-bottom:2px;
	padding-left:2px;
	border-bottom:1px solid grey;
	margin-bottom: 10px;
	box-shadow: 0px 1px 1px #1c1a19;
}

#divConnexion{
	border:1px solid grey;
	margin-top:25px;
	margin-bottom:10px;
	padding-bottom:10px;
	box-shadow: 0px 4px 4px #1c1a19;
}

#navProfilUtilisateur ul{
	margin-top:25px;
	list-style-type:none;
	display:flex;
	border-bottom: 1px solid grey;
	padding-left:0px;
}


#navProfilUtilisateur li{
	margin-right:30px;
}


#navProfilUtilisateur a{
	font-size: 1.5em;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
}

#navProfilUtilisateur a:hover{
	color: #181818;
    border-bottom: 4px solid #181818;
}

#formUtilisateurCoord,#formUtilisateurMdp{
	margin-bottom:10px;
}


#mescoordonnees, #monmotdepasse{
	border-bottom: 4px solid #181818;	
}



footer{
	margin-bottom:5px;
}
